<form action="/signin" method="POST">
    <label for="usrname">Username : </label>
    <input type="text" id="usrname" name="username"><br><br>
    <label for="psword" >Password : </label>
    <input type="text" id="psword" name="password"><br><br>
    <input type="submit" value="Submit" style="background-color:green; color:white" >
</form>